#########################################################
# General                                               #
#########################################################
# A value for 'API_ENCRYPTION_KEY' can be generated using: `openssl rand -hex 32`. Copy the output as the value.
API_ENCRYPTION_KEY=


#########################################################
# Database                                              #
#########################################################
API_DB_HOST=example-api-db
API_DB_PORT=5432
# any username you like
API_DB_USER=
# any password you like
API_DB_PASSWORD=
API_DB_NAME=defaultdb
API_DB_ENABLE_SSL=false